In [2]:
import pandas as pd

In [9]:
df = pd.read_csv('Flash_deal_product_list.csv')

In [11]:
print(len(df))

df[df['Item'] == 'Onion (Pyaaz)']

104

,ID,Start_time,End_time,Start_time_String,End_time_string,Item,Quantity,Price,Normal Price,Diff.
0,2947,1690885861,1690896600,2023-08-01 16:01:01,2023-08-01 19:00:00,Onion (Pyaaz),550 g,10,17,7
26,2947,1690885861,1690896600,2023-08-01 16:01:01,2023-08-01 19:00:00,Onion (Pyaaz),550 g,10,17,7
52,2947,1690885861,1690896600,2023-08-01 16:01:01,2023-08-01 19:00:00,Onion (Pyaaz),550 g,10,17,7
78,2947,1690885861,1690896600,2023-08-01 16:01:01,2023-08-01 19:00:00,Onion (Pyaaz),550 g,10,17,7